* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, span {
  font-size: 1em;
}

button {
  cursor: pointer;
}

.container {
  display: inline-block; 
  position: relative;
}

#overlapping-div {
  background: black; 
  position: absolute; 
  top: 0; 
  right: 0; 
  left: 0; 
  bottom: 0; 
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

/* Menu */
#menu-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: lightgrey;
  z-index: 100;
}

#menu-box .game-title {
  font-size: 2em;
  margin-bottom: 40px;
}

#start-game-button {
  padding: 10px 14px;
  border-radius: 4px;
  font-size: .875em;
}

#start-game-button:hover {
  background: #ddd;
}

/********/

/* Inventory */
#inventory-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

#inventory-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  gap: 20px;
}

#inventory-header {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

#inventory-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#inventory-tabs span {
  font-size: 1em;
  color: #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
}

#pokemons-inventory {
  display: grid;
  grid-template-columns: repeat(5, 120px);
  gap: 5px;
  background: lightgray;
  padding: 20px;
  border-radius: 20px;
  min-height: 450px;
  overflow: auto;
}

#pokemons-inventory::-webkit-scrollbar {
  width: 10px;
}

#pokemons-inventory::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
#pokemons-inventory::-webkit-scrollbar-thumb {
  background: #888; 
}

#pokemons-inventory::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.pokemon-card-item {
  position: relative;
	list-style: none;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 20px;
  height: 120px;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
}

.pokemon-card-item:after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.pokemon-card-image {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 10%;
}

.pokemon-card-name {
  font-size: .675em;
  color: #fff;

}

.pokemon-card-subtitle {
  font-size: 0.425em;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}

/* wild pokemon tab */
#show-wild-pokemon-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: lightgray;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}

#show-wild-pokemon-container #wild-pokemon-warning {
  font-size: .625em;
}

#show-wild-pokemon-container #battle-button {
  padding: 10px 14px;
  background: rgb(255, 59, 59);
  color: white;
  border-radius: 4px;
  border: 1px solid black;
}

#show-wild-pokemon-container #battle-button:hover {
  background: rgb(248, 22, 22);
}

/******/

/* Battle interface */
#battle-interface {
  display: none;
}

.pokemon-info-card {
  background: #fff; 
  width: 250px; 
  position: absolute; 
  border: 4px black solid; 
  padding: 12px
}

.pokemon-info-card#enemy {
  top: 50px; 
  left: 50px; 
}

.pokemon-info-card#player {
  top: 330px;
  right: 50px;
}

.health-box {
  position: relative;
}

.empty-health-bar {
  height: 5px; 
  background: #ccc; 
  margin-top: 10px;
}

.filled-health-bar {
  height: 5px; 
  background: green; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
}

.battle-info-box {
  background: #fff; 
  height: 140px; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  border-top: 4px black solid; 
  display: flex;
}

#dialogue-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  background: #fff;
  display: none;
  cursor: pointer;
}

#attacks-box {
  width: 66.66%; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}

.attack-buttons {
  border: none;
}

.attack-buttons:hover {
  background: #ddd;
}

.attack-type-box {
  width: 33.33%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-left: 4px black solid;
}

/********/