* {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

body {
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, span {
  font-size: 1em;
}

button {
  cursor: pointer;
}

.container {
  display: inline-block; 
  position: relative;
}

#overlapping-div {
  background: black; 
  position: absolute; 
  top: 0; 
  right: 0; 
  left: 0; 
  bottom: 0; 
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

/* Menu */
#menu-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: lightgrey;
  z-index: 100;
}

#menu-box .game-title {
  font-size: 2em;
  margin-bottom: 40px;
}

#start-game-button {
  padding: 10px 14px;
  border-radius: 4px;
  font-size: .875em;
}

#start-game-button:hover {
  background: #ddd;
}

/********/

/* Inventory */
#inventory-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
  user-select: none;
}

#inventory-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  gap: 20px;
}

#inventory-header {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

#inventory-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#inventory-tabs span {
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

#pokemons-tab {
  border-bottom: 1px solid #fff;
}

.close-inventory-icon {
  cursor: pointer;
}

#inventory-main {
  display: flex;
  justify-content: center;
}

/* Pokemons Inventory*/
#pokemons-inventory {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 120px);
  gap: 5px;
  background: #888888;
  padding: 20px;
  border-radius: 20px;
  min-height: 450px;
  max-width: 620px;
  overflow: auto;
}

.pokemon-card-item {
  position: relative;
	list-style: none;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 20px;
  height: 120px;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.pokemon-card-item.active {
  background: #01be00;
}

.pokemon-card-item:after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
  pointer-events: none;
}

.pokemon-card-image {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 10%;
  pointer-events: none;
}

.pokemon-card-name {
  font-size: .675em;
  color: #fff;
  pointer-events: none;
}

.pokemon-card-subtitle {
  font-size: 0.425em;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  pointer-events: none;
}

/* Items Inventory*/
#items-inventory {
  display: none;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-template-rows: repeat(auto-fill, 90px);
  gap: 5px;
  background: #888888;
  padding: 20px;
  border-radius: 20px;
  min-height: 450px;
  max-width: 620px;
  overflow: auto;
}

.item-card-item {
  position: relative;
	list-style: none;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 100%;
  height: 90px;
  background-color: rgba(37, 37, 37, 0.767);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.item-card-item.active {
  background: #01be00;
}

.item-card-item::after {
  content: "";
  display: block;
  width: 91%;
  height: 91%;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid white;
  opacity: .7;
  position: absolute;
  top: 3px;
  pointer-events: none;
}

.item-card-image {
  position: relative;
  z-index: 2;
  width: 44px;
  height: 44px;
  pointer-events: none;
}

.item-card-held {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.625em;
  color: #fff;
  text-shadow: 2px 2px rgb(0 0 0 / 30%);
  pointer-events: none;
}

#pokemons-inventory::-webkit-scrollbar,
#items-inventory::-webkit-scrollbar
{
  width: 10px;
}

#pokemons-inventory::-webkit-scrollbar-track,
#items-inventory::-webkit-scrollbar-track
{
  background: #f1f1f1; 
}
 
#pokemons-inventory::-webkit-scrollbar-thumb,
#items-inventory::-webkit-scrollbar-thumb
{
  background: #888; 
}

#pokemons-inventory::-webkit-scrollbar-thumb:hover ,
#items-inventory::-webkit-scrollbar-thumb:hover 
{
  background: #555; 
}

/* Pokemon Description Tab*/
#pokemon-description-tab,
#item-description-tab 
{
  position: relative;
  width: 220px;
  height: 100%;
  background: #333;
  border-radius: 20px;
  transition: .5s;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

#pokemon-description-tab-pokemon-image {
  margin-top: 60px;
}

#pokemon-description-tab-pokemon-name {
  color: #fff;
  font-size: 1em;
}

#pokemon-description-tab-stats-container {
  margin-top: 20px;
}

#pokemon-description-tab-stats-container h4,
#pokemon-description-tab-attacks-container h4
{
  font-size: .875em;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-radius: 8px;
  background: #444444;
}

#pokemon-description-tab-stats-container table tr td:nth-child(1) {
  color: #fff;
  width: 216px;
}

#pokemon-description-tab-stats-container table tr td:nth-child(2) {
  color: rgb(177, 177, 177);
}

#pokemon-description-tab-attacks-container {
  margin-top: 10px;
}

#pokemon-description-tab-attacks-container table tr {
  height: 30px;
}

#pokemon-description-tab-attacks-container table tr td:nth-child(1) {
  color: #fff;
  font-size: .625em;
  width: 216px;
}

#pokemon-description-tab-attacks-container table tr td:nth-child(2) {
  color: rgb(177, 177, 177);
  font-size: .625em;
}


/* Item Description Tab*/

#item-description-tab-item-image {
  margin-top: 80px;
  width: 60px;
  height: 60px;
}

#item-description-tab-item-name {
  color: #fff;
  margin-top: 20px;
  font-size: 1em;
  background-color: #555;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
}

#item-description-tab-item-description {
  color: #fff;
  margin-top: 40px;
  font-size: .875em;
  background-color: #555;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
}

#item-description-tab-consume-button {
  position: absolute;
  bottom: 15;
  background: rgb(0, 255, 0);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: .625em;
  border: 1px solid #fff;
  transition: .2s;
}

#item-description-tab-consume-button:hover {
  background: rgb(0, 161, 0);
}

/*******/

/* wild pokemon tab */
#show-wild-pokemon-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: lightgray;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: none;
}

#show-wild-pokemon-container #wild-pokemon-warning {
  font-size: .625em;
}

#show-wild-pokemon-container #battle-button {
  padding: 10px 14px;
  background: rgb(255, 59, 59);
  color: white;
  border-radius: 4px;
  border: 1px solid black;
}

#show-wild-pokemon-container #battle-button:hover {
  background: rgb(248, 22, 22);
}

#choose-pokemon-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: lightgray;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#choose-pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  grid-template-rows: repeat(auto-fill, 120px);
  gap: 5px;
  background: #888888;
  padding: 20px;
  border-radius: 20px;
  max-height: 450px;
  max-width: 620px;
  overflow: auto;
}

.choose-pokemon-card-item {
  position: relative;
	list-style: none;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 20px;
  height: 120px;
  background-color: #444444;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.choose-pokemon-card-item.active {
  background: rgb(255, 43, 43);
}

.choose-pokemon-card-item:after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
  pointer-events: none;
}

#choose-pokemon-list::-webkit-scrollbar {
  width: 10px;
}

#choose-pokemon-list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
#choose-pokemon-list::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110); 
}

#choose-pokemon-list::-webkit-scrollbar-thumb:hover  {
  background: #555; 
}

#choose-pokemon-cancel-battle-button,
#choose-pokemon-battle-button
{
  padding: 10px 14px;
  border-radius: 4px;
  background: rgb(255, 43, 43);
  transition: .2s;
}

#choose-pokemon-battle-button {
  background: rgb(0, 201, 0);
}

#choose-pokemon-cancel-battle-button:hover {
  background: red;
}

#choose-pokemon-battle-button:hover {
  background: green;
}
/******/

/* Battle interface */
#battle-interface {
  display: none;
}

.pokemon-info-card {
  background: #fff; 
  width: 250px; 
  position: absolute; 
  border: 4px black solid; 
  padding: 12px
}

.pokemon-info-card#enemy {
  top: 50px; 
  left: 50px; 
}

.pokemon-info-card#player {
  top: 330px;
  right: 50px;
}

.health-box {
  position: relative;
}

.empty-health-bar {
  height: 5px; 
  background: #ccc; 
  margin-top: 10px;
}

.filled-health-bar {
  height: 5px; 
  background: green; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
}

.battle-info-box {
  background: #fff; 
  height: 140px; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  border-top: 4px black solid; 
  display: flex;
}

#dialogue-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px;
  background: #fff;
  display: none;
  cursor: pointer;
}

#attacks-box {
  width: 66.66%; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}

.attack-buttons {
  border: none;
}

.attack-buttons:hover {
  background: #ddd;
}

.attack-type-box {
  width: 33.33%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-left: 4px black solid;
}

/********/